@attribute [Authorize(Roles = "Admin")]

<div class="card" >
	<div class="card-body">
		<EditForm Model="@IngredientDisplay" class="@showInvalid" OnValidSubmit="ValidSubmit">
			<DataAnnotationsValidator />
			<ValidationSummary />
			@if(errorValid != null)
			{
				<label class="alert-warning">@errorValid</label>
			}
			<label for="Name">Name of Ingredient Type</label>
			<InputText @bind-Value=IngredientDisplay.Name class="form-control" id="Name"></InputText>
			@if (IngredientDisplay.Id == 0)
			{
				<input type="submit" class="btn btn-dark" value="Add" />
			}
			else
			{
				<input type="submit" class="btn btn-dark" value="Update" />
			}
		</EditForm>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<ul class="list-group list-group-flush">
			@foreach (IngredientTypeDisplayModel i in ingredientTypes)
			{
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<NavLink>@i.Name.ToString()</NavLink>
					<span><Button class="badge btn btn-dark" @onclick="() => EditType(i)">edit</Button></span>
				</li>
			}
		</ul>
	</div>
</div>