<div class="card">
  <div class="card-body">
        <h5 class="card-title">@DrinkDisplay.DrinkTitleLong</h5>
        <div class="card-body">
            <Instructions instructions="InstructionsList"></Instructions>
        </div>
  </div>
</div>

