
<ul class="list-group list-group-flush">
@foreach(InstructionDisplayModel i in instructions)
{
        <li class="list-group-item "><i class="fas fa-chevron-right"></i>@i.InstructionText</li>
}
</ul>


