@page "/admintools/dashboard"
@attribute [Authorize(Roles = "Admin")]

<div>
	<MudChart ChartType="ChartType.Pie" InputData="@typeDataArray" @bind-SelectedIndex="Index" InputLabels="@typeNamesArray" Width="300px" Height="300px" />
</div>

@foreach(var i in IngredientTypesCounter)
{
	<Mudtext>@i.name
	 </Mudtext>
	 <Mudtext>@i.count</Mudtext>
}