@page "/adddrink"
@page "/editdrink"
@attribute [Authorize(Roles = "Admin")]

<AddEditSideMenu></AddEditSideMenu>

<h3>DrinkEditAddPage</h3>

<IngredientTypeAddEdit></IngredientTypeAddEdit>

@code {

}
