@page "/adddrink"
@page "/editdrink"
@attribute [Authorize(Roles = "Admin")]
<MudStack Spacing="2">
<MudAppBar Color="Color.Transparent" Dense="true" Fixed="false">
    <MudButton Variant="Variant.Text" OnClick="() => menulocation = 0">Drink</MudButton>
    <MudButton Variant="Variant.Text" OnClick="() => menulocation = 1">Glassware</MudButton>
    <MudButton Variant="Variant.Text" OnClick="() => menulocation = 2">Ingredient</MudButton>
    <MudButton Variant="Variant.Text" OnClick="() => menulocation = 3">Ingredient Type</MudButton>
    <MudButton Variant="Variant.Text" OnClick="() => menulocation = 4">Tags & Flags</MudButton>
</MudAppBar>

<MudSpacer/>
<MudSpacer />
<div id="Entry">
<MudPaper>
    @if (menulocation == 0)
    {
        <AEDrinkCard></AEDrinkCard>
    }
    @if (menulocation == 1)
        {
            <AEGlassware></AEGlassware>
        }
    @if (menulocation == 2)
    {
        <AEIngredientCard></AEIngredientCard>
    }
    @if (menulocation == 3)
    {
        <AEIngredientTypeCard></AEIngredientTypeCard>
    }
    @if (menulocation == 4)
    {
        <AEFlag></AEFlag>
    }
    
</MudPaper>
    </div>
</MudStack>

        







@code {
    int menulocation = 0;
}
