<h3>Tagging</h3>

<div>
	<MudItem xs="12" sm="6" md="4">
	<MudAutocomplete T="string" Lablel="Tags"
		@bind-Value="TagText"
		@bind-Text="TagText"
		ResetValueOnEmptyText=true
		SearchFunc="TagSearch"
		OnKeyUp="EnterText"
		CoerceText=true
		AdornmentIcon="@Icons.Material.Filled.Tag" AdornmentColor="Color.Dark"/>
	</MudItem>
	@foreach(TagDisplayModel t in Tags)
	{
		<MudChip AdornmentIcon="@Icons.Material.Filled.Tag">@t.Value</MudChip>
	}
</div>