@inherits LayoutComponentBase
<MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Drink Book</PageTitle>

<header>
    <NavMenu />
</header>

<div class="content px-4">
    @Body
</div>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = false;
}
