<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="">Drink Book</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav align-items-center ml-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="DrinkList">
                        <span class="oi oi-excerpt" aria-hidden="true"></span> Drink List
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-beaker" aria-hidden="true"></span> Random Drink
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-script" aria-hidden="true"></span> Menu Maker
                    </NavLink>
                </li>
                <li class="nav-item">
                    <AuthStatus></AuthStatus>
                </li>
            </ul>
        </div>
    </div>
</nav>




@code {
        bool collapseNavMenu = true;

        string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

        string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

        void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
 }
